.conteudoMain {
  margin-left: 10%;
  margin-right: 10%;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  margin-top: 2em;
  padding-bottom: 5em;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #374151;
}

.sobre1 {
  grid-area: item1;
}

.sobre2 {
  grid-area: item2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.sobre2 > h3 {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #374151;
}

.sobreContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "item1 item1 item2";
  gap: 5px;
}

.destaque {
  color: var(--color-text-light);
}

.projetos {
  padding: 5em;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #374151;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  background-color: var(--color-background-secondary);
  border-radius: 20px;
}

.contato {
  padding: 5em;
}

.footer {
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
  text-align: center;
  padding: 1rem; 
}

.linkFooter {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 900px) {
  .sobreContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "item1" 
    "item2";
    gap: 5em;
  }
}
